/*START - default Theme*/

.wm-app {

  @import url("../../components/bootstrap/less/bootstrap.less");
  @import url("variables.less");

  font-size: @font-size-base;
  color: @text-color;
  font-family: @font-family-base;
  background-color: @body-bg;

 @wm-secondary-brand-color: #007855;
 @wm-third-brand-color: #3d3d3d;
  //Header
  @wm-header-border-color: #ffeb3b;
  @wm-header-text-color: @text-color;
  @wm-header-bg-color: #f7f7f7;
  @wm-header-height: auto;

  //left panel
  @wm-left-panel-bg: #fff;
  @wm-left-panel-list-border: 1px #e6e5e5 solid;
  @wm-left-panel-border-color: #CFDBE2;
  @wm-left-panel-link-color: #4f5256;
  @wm-left-panel-link-hover-bg: #f7f7f7;
  @wm-left-panel-link-active-bg: #F4F4F4;
  @wm-left-panel-link-hover-text-color: inherit;
  @wm-left-panel-link-hover-border-color: transparent;
  @wm-left-panel-dropdown-menu-bg: transparent;

  //right panel
  @wm-right-panel-border-color: #CFDBE2;
  @wm-right-panel-bg: #fff;
  @wm-right-panel-btn-color: #515253;
  @wm-right-panel-list-border: 1px #e6e5e5 solid;

  //Footer
  @wm-footer-border-color: #ccc;
  @wm-footer-text-color: #e8e8e8;
  @wm-footer-bg-color: @wm-third-brand-color;
  @wm-footer-height: auto;

  //Table
  @table-header-bg: #fff;
  @pagination-active-hover-bg: darken(@brand-primary, 15%);
  @pagination-basic-bg: #f3f3f3;
  @wm-grid-selection-bg: #CFD8DC;

  //Tabset
  @nav-tabs-color-hover : #000;
  @nav-tabs-color : #7a7a7a;
  @nav-tabs-bg: #fff;

  //input group hover
  @input-group-addon-hover-bg: rgba(0,0,0,.1);

  //Buttons
  @btn-group-active-btn-bg: #fff;

  //modal dialogs
  @modal-header-bg: #fff;
  @modal-header-color: @navbar-default-link-active-color;

  @form-label-color: inherit;
  @wm-calendar-header-color: #adadad;
  @wm-calendar-text-color: #adadad;
  @wm-datepicker-text-color: #000;
  @wm-datepicker-header-bg: #128ff2;
  @wm-datepicker-btn-hover-bg: #f0f0f0;
  @wm-checked-color: #fff;

  /*Box Shadow effect*/
  .box-shadow (@x:0px, @y:2px, @blur:5px, @color:#DBDBDB) {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
  }
  .btn-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  }

  /*Applies inset shadow effect*/
  .inset-shadow(@x:0px, @y:2px, @blur:5px, @spread:0 , @color:#DBDBDB) {
    box-shadow: inset @arguments;
    -webkit-box-shadow: inset @arguments;
    -moz-box-shadow: inset @arguments;
    -ms-box-shadow: inset @arguments;
    -o-box-shadow: inset @arguments;
  }

  .img-rounded {
    border-radius: @thumbnail-border-radius;
  }

  /******Label: overiding the label class as bootstrap is making all the labels bold***/
  label {
    font-weight: normal;
  }
  .label-primary, .label-success, .label-info, .label-warning, .label-danger {
    color: #fff;
  }
  .text-danger {
    color: darken(@brand-danger, 20%);
  }
  .text-success {
    color: darken(@brand-success, 20%);
  }
  .text-info {
    color: darken(@brand-info, 20%);
  }
  .text-primary {
    color: @brand-primary;
  }
  .text-warning {
    color: darken(@brand-warning, 20%);
  }
  .text-brand-secondary{
      color: darken(@wm-secondary-brand-color,20%);
  }
  .text-brand-third{
      color: darken(@wm-third-brand-color,20%);
  }
  .h1,.h2,.h3,.h4,.h5,.h6 {
    width: 100%;
  }
  .btn-secondary {
    background-color: @wm-third-brand-color;
    color: @btn-primary-color;
    &:hover, &:focus {
      background-color: @wm-third-brand-color;
      color: @btn-primary-color;
    }
  }
  .primary-content {
    color: @brand-primary;
    background-color: @brand-primary;
    &:focus, &:hover {
      background-color: @brand-primary;
    }
  }

  .secondary-brand {
    background-color: @wm-secondary-brand-color;
    &:focus, &:hover {
      background-color: @wm-secondary-brand-color;
    }
  }
  .input-group-btn {
    .btn[disabled] {
      &:hover, &:focus {
        background-color: transparent;
        outline-color: transparent;
      }
    }
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .badge {
    right: 4px;
    top: 5px;
  }

  .close {
    border: 0;
    background-color: transparent;
  }

  //Alert styles
  .alert-secondary {
    color: #fff;
    background-color: @wm-third-brand-color;
    border-color: @wm-third-brand-color;
  }

  /***Tabs Widget: Styling for the tabs widget comes here********/
  //Tab Content
  .tab-content {
    .tab-body {
      border-color: transparent;
      padding: @padding-base-horizontal;
    }
  }
  //navigation
  .nav-tabs {
    border-bottom-color: @nav-tabs-border-color;
    background-color: @nav-tabs-bg;
    > li {
      > a, .app-menu a {
        color: @nav-tabs-color;
        text-transform: capitalize;
        background-color: @nav-tabs-active-link-hover-bg;
        border-bottom-color: transparent;
        border-radius: 0;
        box-shadow: none;
        margin-right: 0;
        border-color: transparent;
        &:after {
          content: "";
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          -webkit-transition: all;
          -o-transition: all;
          transition: all;
          -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }
        &:hover, &:focus {
          outline: none;
          color: @nav-tabs-color;
          background-color: @nav-tabs-active-link-hover-bg;
          border-color: transparent;
          border-bottom-color: transparent;
        }
      }
      &.active {
        > a, .app-menu a {
          border-color: transparent;
          color: @nav-tabs-color-hover;
          &:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            background: @brand-primary;
          }
          &:hover, &:focus {
            outline: none;
            border-color: transparent;
            color: @nav-tabs-color-hover;
          }
        }
      }
    }
  }

  .app-tabs, .tab-body {
    &:focus {
      outline: none;
    }
  }

  /***App Message********/
  .app-message .close {
    top: initial;
  }
  /***Tabs Widget: Styling for the tabs widget comes here********/
  .list-group-item-separator {
    margin-bottom: 2px;
    border-radius: 2px;
    .form-group {
      padding: 0 @padding-base-horizontal;
    }
  }

  /***Button Style: Defining the sixe of the button for bootstrap classes********/
  .btn {
    text-transform: capitalize;
    font-size: 12px;
    .btn-shadow();
    padding: 6px 15px;
    &.btn-lg {
      font-size: 1.4em;
    }
    &.btn-sm {
      font-size: 10px;
      padding: @padding-small-vertical @padding-small-horizontal;
    }
    &.btn-xs {
      font-size: 8px;
      padding: @padding-xs-vertical @padding-xs-horizontal;
    }
    .caret {
      margin-left: 0.7em;
    }
    &.active, &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .btn-group {
    .btn-shadow();
    .btn {
      box-shadow: none;
      border-color: transparent;
    }
  }

  .btn-default {
    &:hover, &:focus &:active {
      color: @btn-default-color;
      background-color: darken(@btn-default-bg, 10%);
      border-color: darken(@btn-default-bg, 10%);
    }
  }

  .btn.btn-transparent {
    &:hover {
      background-color: #f0f0f0 !important;
    }
  }

  .btn-flat {
    text-transform: capitalize;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
    &.btn-primary {
      color: @brand-primary;
      &:hover, &:focus {
        background-color: @btn-primary-bg;
        color: @btn-primary-color;
      }
    }
    &.btn-info {
      color: @brand-info;
      &:hover, &:focus {
        background-color: @btn-info-bg;
        color: @btn-info-color;
      }
    }
    &.btn-warning {
      color: @brand-warning;
      &:hover, &:focus {
        background-color: @btn-warning-bg;
        color: @btn-warning-color;
      }
    }
    &.btn-danger {
      color: @brand-danger;
      &:hover, &:focus {
        background-color: @btn-danger-bg;
        color: @btn-danger-color;
      }
    }
  }

  /***Modal Dialog Style: There is no property in bootstrap variable so setting it here********/
  .modal-header {
    background-color: @modal-header-bg;
    border-bottom-color: @modal-header-border-color;
    color: @modal-header-color;
    padding: 1em 1em 1em 2em;
    .modal-title {
      color: @modal-header-color;
    }
  }

  /*****login modal form***/
  .app-login-dialog {
    .app-dialog-body {
      .app-form {
        border: 0;
        margin-bottom: 0;
      }
    }
  }

  //Breadcrumb
  .breadcrumb {
    li {
      a {
        text-transform: capitalize;
      }
    }
  }

  //Progress Bar
  .progress {
    box-shadow: none;
    border-radius: 0;
    height: .55em;
    .progress-bar {
      line-height: .92em;
    }
  }

  //Table
  .table {
    > thead {
      > tr {
        th {
          font-weight: normal;
          background-color:  @wm-third-brand-color;
          color: #fff;
          text-align: center !important

        }
      }
    }
  }
  .table-bordered{
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .table-bordered td{
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
  }

  .table-bordered td:last-child {
    border-right: 0 !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
  }

  .app-grid .app-datagrid .table-container {
    //padding: 5px 20px;
    padding:12px 12px 12px 12px;
  }

  /*****************************************************************************************************************************************/
  /*********************************************************Layout**************************************************************************/
  /*****************************************************************************************************************************************/
  .app-content {
    background-color: #f7f7f7;
    padding: 15px;
  }

  .app-content-column {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e8e8e8;
  }

  //Header
  .app-header, .app-mobile-header {
    background-color: @wm-header-bg-color;
    color: @wm-header-text-color;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    border-color: transparent;
    height: @wm-header-height;
    a {
      color: @wm-header-text-color;
    }

    .app-search {
      background-color: @wm-header-bg-color;
      .form-control {
        background-image: linear-gradient(@wm-header-border-color, @wm-header-border-color), linear-gradient(@input-border, @input-border);
        color: @wm-header-text-color;
        &::-webkit-input-placeholder {
          color: @wm-header-text-color;
        }
        &:-moz-placeholder {
          color: @wm-header-text-color;
        }
        &:-ms-placeholder {
          color: @wm-header-text-color;
        }
      }
    }
    .input-group-addon {
      color: @wm-header-text-color;
      font-size: 1.1em;
    }

    .app-mobile-header {
      background-color: @navbar-default-bg;
      color: @navbar-default-color;
      a {
        color: @navbar-default-color;
      }
    }
  }

  //Top Nav Bar
  .app-navbar {
    background-color: @wm-header-bg-color;
    color: @wm-header-text-color;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    border-color: transparent;
    border: none;


    border-radius: 0;
    color: @navbar-default-color;
    padding: 0 1.52em;
    box-shadow: inset 0px -3px 0 0px @wm-secondary-brand-color;
    .navbar-nav {
      li {
        a {
          font-size: 1em;
          padding: 1em;
          font-weight: normal;
          text-decoration: none;
          text-transform: capitalize;
          box-shadow: inset 0px -3px 0 0px transparent;
          color: @navbar-default-color;
          &:hover, &:focus, &.active, &.app-popover-open {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-hover-bg;
            -webkit-transition: color .3s ease;
            -o-transition: color .3s ease;
            transition: color .3s ease;
          }
          &.active {
            color: @navbar-default-link-active-color;
            box-shadow: inset 0px -3px 0 0px @brand-primary;
          }
        }

        > .dropdown .dropdown-menu {
          margin: 0;
          background-color: @dropdown-bg;
          a {
            color: @text-color;
            padding: 1em;
            font-size: 0.9em;
            text-transform: initial;
            &:hover {
              background-color: @navbar-default-hover-bg;
            }
          }
        }
      }

      .app-nav-item {
        > .dropdown {
          a.dropdown-toggle {
            padding: 1.2em;
          }
          .dropdown-menu {
            li > a {
              &:hover {
                background-color: rgba(0,0,0,.03);
              }
            }
          }
        }
      }
    }
  }

  //Popover
  .popover {
    min-width: 16.667em;
    .popover-content {
      padding: 0;
    }
  }

  //Left & Right Panels
  .app-left-panel, .app-right-panel {
    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    .nav {
      li {
        //for overriding the pills default color
        &.active {
          > a {
            color: inherit;
            background-color: @wm-left-panel-link-active-bg;
            &:hover, &:focus {
              color: inherit;
              background-color: @wm-left-panel-link-active-bg;
            }
          }
        }
        margin-top: 0;
        //border-bottom: @wm-left-panel-list-border;

        a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
          //letter-spacing: .025em;
          padding: 1em;
          position: relative;
          border-radius: 0;
          line-height: 1.7;
          color: @wm-left-panel-link-color;
          text-shadow: none;
          font-family: 'Robotomedium', Arial, sans-serif;
          &:hover {
            color: @wm-left-panel-link-hover-text-color;
            text-decoration: none;
            background-color: @wm-left-panel-link-hover-bg;
          }
          &.active {
            background-color: @wm-left-panel-link-active-bg;
            &:hover, &:focus {
              background-color: @wm-left-panel-link-hover-bg;
              color: inherit;
            }
          }
          .app-icon {
            margin-right: 0.3em;
            font-size: 1.143em;
          }
          .badge {
            top: 1.2em !important;
            padding: 4px 6px;
          }
        }

        > .dropdown.open {
          > .dropdown-menu {
            position: relative;
            margin: 0 0 1.333em;
            border: 0;
            border-bottom: @wm-left-panel-list-border;
            box-shadow: none;
            background-color: @wm-left-panel-dropdown-menu-bg;
            li {
              a {
                padding: 0.92em .92em .92em 2.5em;
                font-size: 0.9em;
              }
            }
          }
        }
      }
      &.open {
        a {
          &:hover, &:focus {
            background-color: @wm-left-panel-link-hover-bg;
          }
        }
      }
    }
    .app-nav {
      .app-nav-item {
        > .dropdown {
          > a {
            padding: 1.333em;
          }
        }
      }
    }
  }

  /****nav widget****/
  .app-nav {
    &.nav-pills, &.nav-justified {
      .app-nav-item {
        .app-menu {
          .dropdown-toggle {
            padding: @padding-base-horizontal;
          }
          &:hover {
            color: @nav-pills-active-link-hover-bg;
            background-color: @nav-link-hover-bg;
          }
        }
        &.active {
          a, .app-menu {
            &:active, &.hover, &:active:hover {
              color: @navbar-default-link-active-color;
              background-color: @nav-pills-active-link-hover-bg;
            }
            &.open {
              .dropdown-toggle {
                color: @nav-pills-active-link-hover-color;
                background-color: @nav-pills-active-link-hover-bg;
              }
            }
          }
        }
      }
    }
  }
  .nav-justified {
    .app-nav-item {
      .app-menu {
        text-align: center;
      }
    }
  }

  //Left Panel
  .app-left-panel {
    background-color: @wm-left-panel-bg;
    border-right: 1px solid @wm-left-panel-border-color;
  }

  //Right Panel
  .app-right-panel {
    background-color: @wm-right-panel-bg;
    border-left: 1px solid @wm-right-panel-border-color;
  }

  //Footer
  .app-footer {
    padding: 1em 1.5em;
    background-color: @wm-footer-bg-color;
    color: @wm-footer-text-color;
    border-top: 1px solid @wm-footer-border-color;
    height: 80px;
  }

  .btn-group {
    .btn.active {
      box-shadow: none;
      background-color: @btn-group-active-btn-bg;
      color: @text-color;
    }
  }
  /******************************************************************************************************************************************/
  /***************************************************Widgets styling************************************************************************/
  /******************************************************************************************************************************************/
  .form-group {
    margin-bottom: 0.833em;
    &.live-field.active {
      .control-label {
        color: @brand-primary;
      }
    }
    .text-danger, .control-label.text-danger {
      color: @brand-danger;
    }
    .ng-touched.ng-invalid {
      border-color: transparent;
      background-image: none;
      border-bottom: 2px solid @brand-danger;
      outline: none;
    }
  }
  //for text, select controls
  .form-control, .form-group + .form-control {
    color: inherit;
    border: 0;
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@input-border, @input-border);
    &:hover, &:focus {
      outline: none;
      -webkit-background-size: 100% 2px, 100% 1px;
      background-size: 100% 2px, 100% 1px;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      box-shadow: none;
    }
  }
  .form-control[disabled] {
    background-color: transparent;
    background-image: none;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
  }
  .input-group-btn {
    .btn {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: inherit;
      i {
        font-size: 18pt;
      }
    }
  }
  //**** form elements*****/

  .radio, .checkbox {
    input {
      opacity: 0;
      z-index: -1;
      margin: 3px 0 !important;
    }
    label {
      padding-left: @padding-base-horizontal;
      &.disabled {
        cursor: not-allowed;
        span.caption {
          cursor: not-allowed;
        }
      }
    }
    .caption {
      position: relative;
      min-height: 1em;
      cursor: pointer;
      padding-left: 27px;
      margin: 5px 0;
      &:before, &:after {
        position: absolute;
        content: "";
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: transparent;
      }
    }
  }

  //radio buttons
  .radio {
    .caption {
      &:before, &:after {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
      &:before {
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: @brand-primary;
        border: 1px @pre-border-color solid;
        .inset-shadow(0, 0, 0, 13px, @body-bg);
      }
      &:after {
        top: 45%;
        left: 10px;
        width: 17px;
        height: 17px;
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
      }
    }
    input:checked + .caption:before {
      -moz-box-shadow: inset 0 0 0 3px @body-bg;
      -webkit-box-shadow: inset 0 0 0 3px @body-bg;
      box-shadow: inset 0 0 0 3px @body-bg;
    }
    input:checked + .caption:after {
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }


  //checkbox
  .checkbox {
    .caption {
      &:before {
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: @brand-primary;
        border: 1px @pre-border-color solid;
        .inset-shadow(0, 0, 0, 13px, @body-bg);
      }
      &:after {
        top: 45%;
        left: 10px;
        width: 40px;
        height: 40px;
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
      }
    }
    input:checked + .caption:before {
      -moz-box-shadow: inset 0 0 0 13px @brand-primary;
      -webkit-box-shadow: inset 0 0 0 13px @brand-primary;
      box-shadow: inset 0 0 0 13px @brand-primary;
      background-color: @body-bg;
      border-color: @brand-primary;
      border-top-style: none;
      border-right-style: none;
      padding: 0 3px;
      color: @wm-checked-color;
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }
    input:checked + .caption:after {
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  //form widgets
  .app-form, .app-liveform {
    //for labels in the form
    .control-label, .app-label {
      padding: 1em 1em 0;
      font-family: 'mreaves-book';
      margin-bottom: 1em;
      font-weight: normal;
      color: @form-label-color;
    }
    //action buttons in the form
    .form-action {
      background-color: inherit;
      padding: @padding-base-horizontal;
      border-top: 1px solid @panel-inner-border;
      .btn {
        margin: 0 0.333em;
        border-radius: @border-radius-base;
      }
    }

    .panel-body {
      padding: 0;
      .app-grid-layout {
        padding: @padding-base-horizontal;
      }
    }
    //Styling File Upload in IE
    input[type="file"] {
      padding: 0;
      //Browse textbox
      &::-ms-value {
        border: 1px solid @input-border;
        background-color: @input-bg;
      }

      //Browse button
      &::-ms-browse {
        border: 1px solid @input-border;
      }
    }

    input {
      &:focus.ng-valid {
        border: 0;
      }
    }

    .form-control-static {
      font-family: @font-family-sans-serif;
      color: @input-color-placeholder;
    }
  }

  //filter
  .app-livefilter {
    .control-label, .app-label {
      padding: 1em 1em 0;
      margin-bottom: 1em;
      font-weight: bold;
    }
    .form-action {
      padding: @padding-base-horizontal;
      border-top: 1px solid @panel-inner-border;
      .btn {
        margin: 0 0.333em;
        border-radius: @border-radius-base;
      }
    }
    .panel-body {
      padding: @padding-base-horizontal;
    }
  }
  /***Switch widget****/
  .app-switch {
    .btn {
      border-color: rgba(0, 0, 0, 0.05);
    }
  }

  /***search widget****/
  .app-search {
    .input-group-addon {
      padding: 0.667em;
      &:hover {
        background: @input-group-addon-hover-bg;
      }
    }
  }

  /****Input addon***/
  .input-group-addon {
    border:0;
    border-bottom: 1px solid transparent;
  }

  /******grid styles*******/
  .app-grid {
    .form-search {
      padding: 1.5em;
    }
    .table {
      thead {
        tr {
          padding: @padding-base-horizontal 1.72em;
        }
        th {
          .header-data {
            text-transform: capitalize;
          }
          .sort-buttons-container {
            .sort-button {
              //display: none;
              .up {
                border-width: 0 0.333em 0.333em;
                bottom: -2px;
              }
              .down {
                border-width: 0.333em 0.333em 0;
                top: 0.250em;
              }
            }
          }
        }
      }
      tbody {
        tr {
          &.active, &:hover, &.active:hover {
            td {
              background-color: @table-bg-active;
              border-color: rgba(0,0,0,0.05);
            }
          }
        }
      }
      th, td, tr {
        &.info, &.info:hover {
          background-color: @wm-grid-selection-bg;
        }
      }
    }
    //When table is condensed
    .input-group.input-group-sm {
      .input-group-addon, .input-group-btn {
        padding: 0 4px;
        .btn {
          .app-icon {
            font-size: 11px;
          }
        }
      }
    }

    .input-group-addon {
      border-bottom: 0;
      padding: @padding-base-vertical 0;
    }

    .panel-footer {
      .app-datagrid-actions {
        vertical-align: middle;
        .btn {
          margin: 0 0.333em;
        }
      }
    }

    .app-datagrid {
      .app-datagrid-cell {
        &.cell-editing:not(.checkbox-widget) {
          padding: @padding-small-vertical @padding-small-horizontal;
        }
      }
    }
    .cell-editing {
      input {
        border-bottom: 1px solid darken(@table-border-color, 10%);
        background-color: @table-bg;
        background-image: none;
      }
    }
  }



  //***** data grid basic pagination****///

  .app-datanavigator {
    .pagination.basic {
      &.pagination-sm {
        li a {
          width: 20pt;
          height: 20pt;
        }
        li.pagination-page a{
          padding: 6px 0;
        }
      }
      .pagination-prev, .pagination-next, .pagination-first, .pagination-last{
        a {
          padding: 3px 7px;
        }
      }
      li {
        font-size: 1.08em;
        a {
          color: @pagination-color;
          background-color: @pagination-basic-bg;
          border: 0;
          padding: 8px 0;
          margin: 0 2px;
          width: 27pt;
          height: 27pt;
        }
        &.active {
          a, a:hover, a:focus {
            color: @pagination-active-color;
            background-color: @pagination-active-bg;
            border: 0;
          }
          &:hover {
            a, a:hover, a:focus {
              background-color: @pagination-active-hover-bg;
              color: @pagination-active-color;
            }
          }
        }
        &:hover, &:focus {
          a, a:hover, a:focus {
            color: inherit;
            background-color: @pagination-hover-bg;
            border: 0;
          }
        }
        &.disabled {
          a {
            background-color: @pagination-basic-bg;
            color: @pagination-disabled-color;
          }
        }
      }
    }
    .pagination {
      li {
        &.pagecount {
          a {
            color: #4e4e4e;
            background-color: @pagination-active-bg;
            border-color: #cecece;
            input {
              color: @pagination-active-color;
              text-align: center;
              background-image: none;
            }
          }
        }
      }
    }
    .pager {
      li {
        a {
          margin: 0 .5em 0 0;
          padding: @padding-base-vertical @padding-base-horizontal;
        }
      }
    }
  }



  /*** pagination***/
  .pagination {
    li {
      > a, > span {
        color: @brand-primary;
      }
      a {
        background-color: #f3f3f3;
      }
    }
  }

  //carousel styling: removing the left and right background image
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
  }

  /****accordion classes****/
  .app-accordion {
    .app-accordion-panel.panel {
      box-shadow: none;
      .panel-heading {
        color: @text-color;
        background-color: transparent;
        .panel-icon {
          margin-top: 0;
        }
        .panel-title {
          color: @wm-third-brand-color;
          .heading {
            line-height: inherit;
            font-size: 1em;
            color: inherit;
          }
        }
        .panel-actions {
          right: 1em;
          top: 1.2em;
          outline: none;
          .app-icon.wi.wi-plus:before {
            content: '\f1d0';
          }
          .app-icon.wi.wi-minus:before {
            content: '\f1d3';
          }
        }
      }
      .panel-collapse {
        border: 0;
        &:before {
          content: "";
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          -webkit-transition: all;
          -o-transition: all;
          transition: all;
          -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }

        &.in {
          outline: none;
          box-shadow: none;
          &:before {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            background: transparent;
          }
        }
      }
      &.panel-success .panel-collapse::before {
        background-color: @brand-success;
      }
      &.panel-info .panel-collapse::before {
        background-color: @brand-info;
      }
      &.panel-warning .panel-collapse::before {
        background-color: @brand-warning;
      }
      &.panel-danger .panel-collapse::before {
        background-color: @brand-danger;
      }
    }
    &.custom-accordion {
      .panel-heading {
        padding-bottom: 0;
        .heading, .description {
          margin-top: 0;
        }
      }
      .app-livelist {
        .app-livelist-container {
          border: 1px solid #e3e3e3;
          .list-group-item {
            background-color: #f7f7f7;
            padding: 0;
            margin-bottom: 4px;
            border-left-width: 0;
            border-right-width: 0;
            &:first-child {
              border-top-width: 0;
            }
            &:last-child {
              border-bottom-width: 0;
            }
            &.active {
              padding: 0;
              border-bottom-width: 0
            }
            .app-container {
              padding: 10px 15px;
              &:first-child {
                color: @text-color;
                background-color: #f7f7f7;
                .app-grid-layout {
                  .app-grid-column {
                    &:first-child {
                      .app-label {
                        margin-left: 2em;
                      }
                      a[name="anchorMinus"], a[name="anchorPlus"] {
                        position: absolute;
                      }
                    }
                  }
                }
              }
              &:last-child {
                color: @text-color;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .panel-group {
    .panel-heading + .panel-collapse {
      > .panel-body {
        border-top: 0;
      }
    }
  }

  /**** panel *****/
  .panel, .card {
    border-radius: @border-radius-base;
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 1em;
    .panel-heading {
      .panel-title {
        .heading {
          font-size: 1.125em;
          color: @brand-primary;
        }
        .description {
          font-size: .75em;
          color: inherit;
          font-style: normal;
          margin-top: 5px;
          opacity: .7;
        }
      }
      .panel-actions {
        .panel-action {
          top: -0.2em;
          a {
            &:focus, &:hover {
              text-decoration: none;
            }
          }
          .app-anchor{
            font-size: 1.15em;
            padding: 0 6px;
            width: 30px;
            height: 30px;
            &:hover, &:focus {
              background-color: rgba(158,158,158,.2);
              border-radius: 50%;
              transition: color .5s ease, background .5s ease;
              -webkit-transition: color .5s ease, background .5s ease;
              -moz-transition: color .5s ease, background .5s ease;
              -ms-transition: color .5s ease, background .5s ease;
              -o-transition: color .5s ease, background .5s ease;
            }
          }
        }
      }
    }
  }
  .app-livelist, .app-grid {
    &.panel {
      //border: 1px solid #efefef;
      background-color: @table-header-bg;
      box-shadow: none;
    }
  }
  .app-list, .app-livelist {
    .app-list-item {
      &.active {
        > .app-panel, > .app-card {
          border-color: @brand-primary;
        }
        //Fix for select for an active list item
        select {
          option {
            color: @text-color;
          }
        }
      }
    }
  }
  .app-card {
    .app-card-header {
      background-color: transparent;
      .card-heading {
        font-size: 1.155em;
      }

      .app-card-avatar {
        height: 18pt;
        width: 18pt;
        .app-icon {
          font-size: 18pt;
          padding: 5px 0;
        }
      }
      .app-card-header-text {
        padding-left: 1em;
      }
      .app-card-avatar, .app-card-header-text{
        padding-top: 0;
      }
    }

    .card-title {
      font-size: 1.87em;
      font-weight: normal;
      color: rgba(0,0,0,0.87);
    }
    .card-text {
      font-size: 1.1em;
      line-height: 1.6em;
    }

    .app-card-actions {
      padding: .5em;
    }
  }

  /*** dropdown menu*****/
  .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 none;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    li {
      a {
        font-size: 0.9em;
        padding: 10px 15px;
        &:hover {
          background-color: rgba(158,158,158,.2);
        }
      }
    }
  }


  //file upload button
  .app-single-file-upload {
    .glyphicon {
      margin-right: 0.500em;
    }
  }
  //stylings for tile widget
  .app-tile {
    &.bg-danger, &.bg-success, &.bg-info, &.bg-warning {
      color: @panel-primary-text;
    }
  }

  /*Date, DateTime & Dropdown widgets*/
  .app-calendar, .app-date, .app-datetime, .app-timeinput {
    //setting the margin for the group button so that it shows up over the input
    .input-group-btn:last-child {
      > .btn, .btn-group {
        margin-left: 0;
      }
    }
    //setting the base font color for the popup content
    .dropdown-menu {
      color: @text-color;
    }

    thead {
      tr {
        th {
          .btn.uib-left, .btn.uib-right, .btn.uib-title {
            color: @component-active-color;
            background: transparent;
            border-color: transparent;
            box-shadow: none;
            font-size: 1.24em;
            padding: 1.4em 1em;
            text-transform: capitalize;
            &:hover, &:focus, &:active, &:active:hover, &:active:focus {
              color: @component-active-color;
              background-color: rgba(0,0,0,.01);
              border-color: transparent;
            }
          }
          .uib-left {
            text-align: left;
          }
          .uib-right {
            text-align: right;
          }
        }
      }
    }

    tbody {
      .btn-default, .btn {
        background-color: @gray-lighter;
        border-color: @gray-lighter;
        color: @wm-datepicker-text-color;
        width: auto;
        box-shadow: none;
        padding: @padding-base-horizontal;
        &.btn-info {
          background-color: lighten(@brand-primary, 30%);
          color: @text-color;
        }
        &:hover, &:focus, &.active:hover, &:focus:hover {
          background-color: @component-active-bg;
          border-color: @component-active-bg;
          color: @component-active-color;
          .text-info {
            color: inherit;
          }
        }
        .text-info {
          color: @brand-primary;
          font-weight: bold;
        }
      }
    }
    small {
      font-size: .85em;
      text-transform: capitalize;
      color: @component-active-color;
    }
    .uib-monthpicker, .uib-yearpicker {
      tbody {
        .btn-default, .btn {
          padding: @padding-base-horizontal 4px;
        }
      }
    }
  }

  //styling for the popup calendar actions
  .app-date, .app-datetime {
    .dropdown-menu {
      border: 1px solid transparent;
      padding: 0;
      li {
        &:last-child {
          padding: 1.2em;
          overflow: auto !important;
        }
      }
    }

    strong {
      font-weight: normal;
    }

    table {
      outline: none;
    }

    thead {
      background-color: @component-active-bg;
      tr:nth-child(2) {
        background-color: @wm-datepicker-header-bg;
        th {
          &:first-child {
            padding: 10px 0 10px 20px;
          }
          &:last-child {
            padding: 10px 20px 10px 0;
          }
        }
      }
    }

    .uib-daypicker {
      tbody{
        .btn-default {
          border-radius: 50%;
          min-width: 0;
          height: 24pt;
          width: 24pt;
          vertical-align: middle;
          text-align: center;
          padding: 0;
        }
      }
    }

    tbody {
      tr {
        td {
          &:first-child {
            padding-left: 20px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
        &:first-child {
          td {
            padding-top: 15px;
          }
        }
        &:last-child {
          td {
            padding-bottom: 15px;
          }
        }
      }
      .btn-default {
        &.active, &:focus {
          background-color: @component-active-bg;
          color: @component-active-color;
          &:hover {
            background-color: @component-active-bg;
          }
          .text-info {
            color: @component-active-color;
          }
        }
        &:hover {
          background-color: @wm-datepicker-btn-hover-bg;
          border-color: transparent;
          color: @text-color;
        }
      }
      .btn-sm {
        font-size: 1em;
      }
    }

    .btn-group {
      box-shadow: none;
      .btn , & + .btn {
        background-color: transparent;
        border-color: transparent;
        color: @brand-primary;
        font-size: 1.1em;
        box-shadow: none;
      }
    }
  }

  //Time Widget classes for styling the buttons
  .app-timeinput, .app-datetime {
    tbody {
      .am-pm .btn {
        border: 1px solid @input-border;
        padding: 8px 12px;
      }
      .btn-link {
        width: 100%;
        background-color: transparent;
        &:hover {
          background-color: @btn-primary-bg;
          color: @btn-primary-color;
        }
      }
    }
  }

  //Calendar Specific
  .app-calendar {
    background-color: @body-bg;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    .fc {
      .fc-state-default {
        background: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.05);
        color: @component-active-color;
        text-shadow: none;
        &.fc-state-hover, &:focus, &.fc-state-active {
          color: @btn-default-color;
          background: @btn-default-bg;
          border: 1px solid @btn-default-border ;
        }
      }
    }
    .fc-state-highlight {
      &.fc-today {
        background-color: transparent;
        color: @brand-primary;
      }
    }
    .fc {
      .fc-toolbar {
        margin-bottom: 0;
        padding: 1.82em;
        background-color: @brand-primary;
        h2 {
          color: @component-active-color;
          text-transform: capitalize;
        }
      }
    }
    .fc-widget-header {
      background-color: transparent;
      color: @wm-calendar-header-color;
      font-weight: normal;
      font-size: 1.03em;
    }
    .fc-body {
      .fc-row {
        min-height: 5em;
      }
    }
    .fc-day-number {
      padding: .5em .3em;
      color: @wm-calendar-text-color;
      font-size: 1.52em;
      text-align: left;
    }
  }
  /*********************************************************************************************************************************************/
  /****************************************************Advanced editors******************************************************************************/
  /*********************************************************************************************************************************************/
  //Spinner
  .app-spinner  {
    .spinner-message {
      color: @brand-primary;
      background-color: transparent;
      border-color: transparent;
    }
  }
  .app-richtexteditor {
    .btn-default {
      background-color: @gray-lighter;
      border-color: @gray-light;
      color: @text-color;
      &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus,
      &.disabled.focus, &.focus[disabled], &.disabled:active, &[disabled]:active, &.disabled.active, &.active[disabled],
      &.disabled.active, &.active[disabled] {
        background-color: @gray-lighter;
        color: @text-color;
      }
      &:focus, &.active , &:active:hover  {
        background-color: @component-active-bg;
        color: @component-active-color;
        border-color: @component-active-bg;
      }
    }

    .ta-root .ta-toolbar .btn-group .btn {
      height: 3em;
      padding: .75em;
    }

    .form-control {
      background-color: @gray-lighter;
      background-image: none;
    }
  }

  fieldset[disabled] {
    .app-richtexteditor {
      .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
        background-color: @gray-lighter;
        color: @text-color;
      }
    }
  }

  //Tree
  .app-tree {
    ul {
      li {
        span {
          &:hover {
            color: @text-color;
          }
        }
        &.selected {
          > i, > span {
            color: @brand-primary;
          }
        }
      }
    }
  }

  /***color picker class: adding the default size and padding to the addon*******/
  .app-colorpicker {
    &.input-group {
      width: 13em;
    }
    .input-group-addon {
      padding: 0.833em 1.333em;
      background-color: @gray-lighter;
    }
  }
  /***popover class: removing the radius*******/
  .popover {
    padding: 0;
    border-radius: @border-radius-base;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: @text-color;
  }

  .app-fileupload .app-multi-file-upload, .app-fileupload .app-single-file-upload {
    height: auto;
    min-height: 3em;
  }

  .app-files-upload-status {
    padding-top: 0.833em;
    &.multiple {
      padding-top: 0.333em;
      font-size: 1.2em;
    }
  }

  /***Slider widget styling*******************/
  input[type='range'] {
    color: @brand-primary;
  }
}

/*Utils*/
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

/*App level content*/
// .app-ng-transclude{
//   border: 1px solid #e8e8e8;
//     background: #fff;
// }
