<wm-page data-ng-controller="LocationIntegrationConfigurationPageController" pagetitle="Location Integration Configuration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadCrumb.dataSet" name="breadcrumb" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)" itemid="page" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_INTEGRATION_CONFIGURATION&quot;]" dataset="bind:Variables.clientLocationIntegrationConfigList.dataSet" navigation="Basic"
                    name="locationIntegrationConfigTable" navigationalign="right" on-beforedatarender="locationIntegrationConfigTableBeforedatarender($scope, $data, $columns)" on-datarender="locationIntegrationConfigTableDatarender($scope, $data)">
                    <wm-table-column binding="hipIntegrationServiceList.integrationSvcName" caption="bind:appLocale.LABEL_INTEGRATION_SERVICE_NAME" type="string" show="true" readonly="undefined"></wm-table-column>
                    <wm-table-column binding="configKey" caption="bind:appLocale.LABEL_KEY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configValue" caption="bind:appLocale.LABEL_VALUE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configDescription" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configStatus" caption="bind:appLocale.LABEL_STATUS" width="120px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_INTEGRATION_CONFIG" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_INTEGRATION_CONFIG" action="addNewRowAction($event);Widgets.locationIntegrationConfigDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.locationIntegrationConfigDialog.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_INTEGRATION_CONFIGURATION&quot;]" iconclass="wi wi-settings" name="locationIntegrationConfigDialog"
            width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="button1"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="integrationConfigForm" on-submit="integrationConfigFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="IntegrationServiceNameSelect" readonly="false" displayname="bind:appLocale.LABEL_INTEGRATION_SERVICE_NAME" key="RequestBody.integrationServiceId" type="integer" show="true" widget="select" placeholder="bind:appLocale.LABEL_SELECT_VALUE"
                                dataset="bind:Variables.integrationServiceList.dataSet" datafield="integrationServiceId" displayfield="integrationSvcName" defaultvalue="bind:Variables.stvEditIntegrationConfig.dataSet.integrationServiceId" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="configKeyText" readonly="false" displayname="bind:appLocale.LABEL_KEY" key="RequestBody.configKey" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegrationConfig.dataSet.configKey"
                                required="true" maxchars="30"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="valueText" readonly="false" displayname="bind:appLocale.LABEL_VALUE" key="RequestBody.configValue" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegrationConfig.dataSet.configValue"
                                required="true" maxchars="50"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="descriptionTextarea" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.configDescription" type="string" show="true" widget="textarea" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegrationConfig.dataSet.configDescription"
                                required="true" maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="statusSelect" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.configStatus" type="string" show="true" widget="select" placeholder="" dataset="bind:Variables.stvIntegConfigStatus.dataSet"
                                datafield="key" displayfield="dataValue" defaultvalue="bind:Variables.stvEditIntegrationConfig.dataSet.configStatus" required="false"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>