<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <!--<wm-layoutgrid name="headerlayout">-->
    <!--    <wm-gridrow name="gridrow2" class="primary-content" padding="15px unset unset unset">-->
    <!--        <wm-gridcolumn columnwidth="7" name="gridcolumn3"></wm-gridcolumn>-->
    <!--        <wm-gridcolumn columnwidth="5" name="gridcolumn4"></wm-gridcolumn>-->
    <!--    </wm-gridrow>-->
    <!--    <wm-gridrow name="headerrow">-->
    <!--        <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7" padding="10px unset 10px 20px">-->
    <!--            <wm-picture picturesource="resources/images/imagelists/HealthiPASS-Logo-Tagline.png" name="AppLogo" margin="unset unset unset 5px" width="250"></wm-picture>-->
    <!--            <wm-label caption="" class="application-name" name="HealthiPASS" fontsize="20"></wm-label>-->
    <!--        </wm-gridcolumn>-->
    <!--        <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="5" padding="1em 1em unset unset"></wm-gridcolumn>-->
    <!--    </wm-gridrow>-->
    <!--</wm-layoutgrid>-->
    <wm-container class="primary-content" name="containerHeaderRibbon" height="8px"></wm-container>
    <wm-picture name="applogo " pictureplaceholder="resources/images/imagelists/Hip_Short_Logo.png" height="40px" picturesource="resources/images/imagelists/Hip_Short_Logo.png" class="app-logo pull-left" margin="10px 5px unset 15px" on-click="Actions.goToPage_Main.invoke()"></wm-picture>
    <wm-navbar name="navbar" show="true" class="pull-left nav-view" height="45px">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left" autoclose="outsideClick">
            <wm-nav-item name="nav_item_logo" class="app-logo-holder hidden-xs">
                <!--<wm-picture name="applogo " pictureplaceholder="resources/images/imagelists/d46442e6-481e-4cda-89a8-e24f761852e4.png" height="40px" picturesource="resources/images/imagelists/d46442e6-481e-4cda-89a8-e24f761852e4.png" class="app-logo" margin="5px unset unset unset"></wm-picture>--></wm-nav-item>
            <wm-nav-item name="nav_item4">
                <wm-anchor name="anchor2" caption="bind:appLocale.LABEL_APPOINTMENTS" hyperlink="#/Main"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item4">
                <wm-anchor name="anchor3" caption="bind:appLocale.LABEL_ELIGIBILITY"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item4">
                <wm-anchor name="anchor5" caption="bind:appLocale.LABEL_PATIENTS"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="settings">
                <wm-menu caption="Master Settings" class="setting-menu" name="masterSettingsMenu" iconclass="" dataset="bind:Variables.stvMasterSettingsMenu.dataSet" itemlabel="name" itemchildren="sub" menulayout="horizontal"></wm-menu>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="nav_item_help" class="pull-right">
                <wm-anchor caption="" name="anchor_help" iconclass="wi wi-person fa-lg" class="icon-margin"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item_help" class="pull-right">
                <wm-anchor caption="" name="anchor_help" iconclass="wi wi-settings fa-lg" class="icon-margin"></wm-anchor>
            </wm-nav-item>
            <!--<wm-nav-item name="nav_item_searchBarrrr" class="pull-right">-->
            <wm-text name="searchApp" class="textbox-search" placeholder=""></wm-text>
            <wm-icon name="icon1" iconclass="wi wi-search fa-lg" class="text-search"></wm-icon>
            <!--</wm-nav-item>-->
        </wm-nav>
    </wm-navbar>
</wm-partial>