<wm-page data-ng-controller="AppointmentsPageController" pagetitle="Appointments" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em" name="label1" caption="bind:appLocale.LABEL_APPOINTMENTS" class="h3 text-primary"></wm-label>
            <wm-accordion name="accordionAppointments" class="custom-accordion">
                <wm-accordionpane name="accordionpaneDeck" title="bind:appLocale.LABEL_ON_DECK_APPOINTMENTS">
                    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="stvAppointmentsList1" dataset="bind:Variables.stvAppointments.dataSet" navigation="Scroll" selectfirstitem="false" disableitem="false">
                        <wm-listtemplate layout="inline" name="listtemplate1">
                            <wm-container name="containerOverview">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1">
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" iconclass="wi wi-plus" name="anchorPlus" show="bind:true" on-click="anchorPlusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" name="anchorMinus" iconclass="wi wi-minus" show="bind:false" on-click="anchorMinusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet.patientName"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentTime" name="label4"></wm-label>
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentDateTime" name="label11" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:&quot;Insurance&quot;" name="label5"></wm-label>
                                            <wm-picture name="pictureGreenCheck" pictureplaceholder="resources/images/imagelists/green_check_20x20px.png" show="bind:Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                            <wm-picture name="pictureRedCross" pictureplaceholder="resources/images/imagelists/red_cross_20x20px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Total Due:&quot;" name="label6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$30.67&quot;" name="label7"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Total Collection:&quot;" name="label8"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$90.50&quot;" name="label9"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Patient Info Verified?&quot;" name="label10"></wm-label>
                                            <wm-picture name="pictureInfoVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureInfoVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                            <wm-container name="containerDetails" show="bind:false">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1" padding="unset unset unset 2em">
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].providerName" name="label4" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].insuranceType" name="label5" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label6" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label7" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label8" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label9" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2" class="pull-right">
                                            <wm-label caption="bind:&quot;Insurance Verified?&quot;" name="label10" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture7" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture9" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow13">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn97"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn98"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn99"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn100">
                                            <wm-label caption="bind:&quot;Copay:&quot;" name="label19" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn101">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" name="label20" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn102">
                                            <wm-label caption="bind:&quot;Copay:&quot;" class="p text-muted" name="label21"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn103">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" class="p text-muted" name="label22"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn104" class="pull-right">
                                            <wm-label caption="bind:&quot;Payment Assured?&quot;" name="label23" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture8" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture10" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn17" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label24"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn18">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].visitType" class="text-muted" name="label26"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn19"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label28"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn21">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label30"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn22">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label32"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn23">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label34"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn24">
                                            <wm-label caption="bind:&quot;Intake Verified?&quot;" class="text-muted" name="label36"></wm-label>
                                            <wm-picture name="pictureIntakeVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureIntakeVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn25" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label25"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn26">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].location" class="text-muted" name="label27"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn27"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn28">
                                            <wm-label caption="bind:&quot;Deposit(future visit):&quot;" class="p text-muted" name="label29"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn29">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label31"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn30">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label33"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn31">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label35"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn32"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-list>
                </wm-accordionpane>
                <wm-accordionpane name="accordionpaneProgress" title="bind:appLocale.LABEL_CHECKINS_IN_PROGRESS">
                    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="stvAppointmentsList1" dataset="bind:Variables.stvAppointments.dataSet" navigation="Scroll" selectfirstitem="false" disableitem="false">
                        <wm-listtemplate layout="inline" name="listtemplate1">
                            <wm-container name="containerOverview">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1">
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" iconclass="wi wi-plus" name="anchorPlus" show="bind:true" on-click="anchorPlusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" name="anchorMinus" iconclass="wi wi-minus" show="bind:false" on-click="anchorMinusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet.patientName"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentTime" name="label4"></wm-label>
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentDateTime" name="label11" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:&quot;Insurance&quot;" name="label5"></wm-label>
                                            <wm-picture name="pictureGreenCheck" pictureplaceholder="resources/images/imagelists/green_check_20x20px.png" show="bind:Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                            <wm-picture name="pictureRedCross" pictureplaceholder="resources/images/imagelists/red_cross_20x20px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Total Due:&quot;" name="label6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$30.67&quot;" name="label7"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Total Collection:&quot;" name="label8"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$90.50&quot;" name="label9"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Patient Info Verified?&quot;" name="label10"></wm-label>
                                            <wm-picture name="pictureInfoVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureInfoVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                            <wm-container name="containerDetails" show="bind:false">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1" padding="unset unset unset 2em">
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].providerName" name="label4" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].insuranceType" name="label5" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label6" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label7" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label8" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label9" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2" class="pull-right">
                                            <wm-label caption="bind:&quot;Insurance Verified?&quot;" name="label10" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture7" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture9" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow13">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn97"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn98"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn99"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn100">
                                            <wm-label caption="bind:&quot;Copay:&quot;" name="label19" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn101">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" name="label20" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn102">
                                            <wm-label caption="bind:&quot;Copay:&quot;" class="p text-muted" name="label21"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn103">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" class="p text-muted" name="label22"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn104" class="pull-right">
                                            <wm-label caption="bind:&quot;Payment Assured?&quot;" name="label23" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture8" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture10" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn17" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label24"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn18">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].visitType" class="text-muted" name="label26"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn19"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label28"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn21">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label30"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn22">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label32"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn23">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label34"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn24">
                                            <wm-label caption="bind:&quot;Intake Verified?&quot;" class="text-muted" name="label36"></wm-label>
                                            <wm-picture name="pictureIntakeVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureIntakeVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn25" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label25"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn26">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].location" class="text-muted" name="label27"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn27"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn28">
                                            <wm-label caption="bind:&quot;Deposit(future visit):&quot;" class="p text-muted" name="label29"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn29">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label31"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn30">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label33"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn31">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label35"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn32"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-list>
                </wm-accordionpane>
                <wm-accordionpane name="accordionpaneComplete" title="bind:appLocale.LABEL_CHECKINS_COMPLETE">
                    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="stvAppointmentsList1" dataset="bind:Variables.stvAppointments.dataSet" navigation="Scroll" selectfirstitem="false" disableitem="false">
                        <wm-listtemplate layout="inline" name="listtemplate1">
                            <wm-container name="containerOverview">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1">
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" iconclass="wi wi-plus" name="anchorPlus" show="bind:true" on-click="anchorPlusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-anchor caption="" type="button" margin="unset 0.5em" name="anchorMinus" iconclass="wi wi-minus" show="bind:false" on-click="anchorMinusClick($event, $scope, item, currentItemWidgets)"></wm-anchor>
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet.patientName"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentTime" name="label4"></wm-label>
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].appointmentDateTime" name="label11" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:&quot;Insurance&quot;" name="label5"></wm-label>
                                            <wm-picture name="pictureGreenCheck" pictureplaceholder="resources/images/imagelists/green_check_20x20px.png" show="bind:Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                            <wm-picture name="pictureRedCross" pictureplaceholder="resources/images/imagelists/red_cross_20x20px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insurance"></wm-picture>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Total Due:&quot;" name="label6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$30.67&quot;" name="label7"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Total Collection:&quot;" name="label8"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:&quot;$90.50&quot;" name="label9"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Patient Info Verified?&quot;" name="label10"></wm-label>
                                            <wm-picture name="pictureInfoVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureInfoVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].patientInfoVerified" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                            <wm-container name="containerDetails" show="bind:false">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn1" padding="unset unset unset 2em">
                                            <wm-label name="Name" caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn3">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].providerName" name="label4" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].insuranceType" name="label5" class="text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label6" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label7" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2">
                                            <wm-label caption="bind:&quot;Prior Balance:&quot;" name="label8" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].priorBalance" name="label9" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn2" class="pull-right">
                                            <wm-label caption="bind:&quot;Insurance Verified?&quot;" name="label10" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture7" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].insuranceVerified" name="picture9" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow13">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn97"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn98"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn99"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn100">
                                            <wm-label caption="bind:&quot;Copay:&quot;" name="label19" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn101">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" name="label20" class="p text-muted"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn102">
                                            <wm-label caption="bind:&quot;Copay:&quot;" class="p text-muted" name="label21"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn103">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].copay" class="p text-muted" name="label22"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn104" class="pull-right">
                                            <wm-label caption="bind:&quot;Payment Assured?&quot;" name="label23" class="text-muted"></wm-label>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture8" class="pull-right"></wm-picture>
                                            <wm-picture pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].paymentAssured" name="picture10" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn17" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label24"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn18">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].visitType" class="text-muted" name="label26"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn19"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label28"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn21">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label30"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn22">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label32"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn23">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositTodayVisit" class="p text-muted" name="label34"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn24">
                                            <wm-label caption="bind:&quot;Intake Verified?&quot;" class="text-muted" name="label36"></wm-label>
                                            <wm-picture name="pictureIntakeVerifiedTrue" pictureplaceholder="resources/images/imagelists/green_dot.png" show="bind:Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                            <wm-picture name="pictureIntakeVerifiedFalse" pictureplaceholder="resources/images/imagelists/red_dot_14x14px.png" show="bind:!Variables.stvAppointments.dataSet[$i].intakeComplete" class="pull-right"></wm-picture>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn25" padding="unset unset unset 2em">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].patientId" class="text-muted" name="label25"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn26">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].location" class="text-muted" name="label27"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn27"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn28">
                                            <wm-label caption="bind:&quot;Deposit(future visit):&quot;" class="p text-muted" name="label29"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn29">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label31"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn30">
                                            <wm-label caption="bind:&quot;Deposit(today's visit):&quot;" class="p text-muted" name="label33"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn31">
                                            <wm-label caption="bind:Variables.stvAppointments.dataSet[$i].depositFutureVisit" class="p text-muted" name="label35"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn32"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-listtemplate>
                    </wm-list>
                </wm-accordionpane>
            </wm-accordion>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>