<wm-page data-ng-controller="IntegrationPageController" pagetitle="Integration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="integrationListTable" title="bind:appLocale.LABEL_INTEGRATION" dataset="bind:Variables.IntegrationList.dataSet" navigation="Basic" on-beforedatarender="integrationListTableBeforedatarender($scope, $data, $columns)"
                    navigationalign="right" on-datarender="integrationListTableDatarender($scope, $data)">
                    <wm-table-column binding="integrationName" caption="bind:appLocale.LABEL_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="integrationCategory" caption="bind:appLocale.LABEL_CATEGORY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="integrationAuthType" caption="bind:appLocale.LABEL_AUTH_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="requestType" caption="bind:appLocale.LABEL_REQUEST_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="responseType" caption="bind:appLocale.LABEL_RESPONSE_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_INTEGRATION" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_INTEGRATION" action="addNewRowAction($event);Widgets.integrationDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_UPDATE_INTEGRATION" action="updaterowAction($event);Widgets.integrationDialog.open()"
                        disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-settings-ethernet" title="bind:appLocale.LABEL_INTEGRATION_SERVICE_LIST" action="Actions.ngIntegrationServices.invoke()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_INTEGRATION" iconclass="wi wi-file-text" name="integrationDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="canceButton"></wm-button>
                <wm-button class="btn-default btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createIntegrationForm" on-submit="createIntegrationFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="textIntegrationName" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.integrationName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationName"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="selectIntegrationCategory" readonly="false" displayname="bind:appLocale.LABEL_CATEGORY" key="RequestBody.integrationCategory" type="string" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.stvIntegrationCategory.dataSet"
                                datafield="key" displayfield="dataValue" defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationCategory" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="textIntegrationShortCode" readonly="false" displayname="bind:appLocale.LABEL_SHORT_CODE" key="RequestBody.integrationShortCode" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationShortCode" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="textIntegrationAuthType" readonly="false" displayname="bind:appLocale.LABEL_AUTH_TYPE" key="RequestBody.integrationAuthType" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationAuthType" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="textIntegrationEndPoint" readonly="false" displayname="bind:appLocale.LABEL_END_POINT" key="RequestBody.integrationEndPoint" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationEndPoint" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="textRequestType" readonly="false" displayname="bind:appLocale.LABEL_REQUEST_TYPE" key="RequestBody.requestType" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegration.dataSet.requestType"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field name="textResponseType" readonly="false" displayname="bind:appLocale.LABEL_RESPONSE_TYPE" key="RequestBody.responseType" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditIntegration.dataSet.responseType"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-form-field name="textIntegrationDescription" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.integrationDescription" type="string" show="true" widget="textarea" inputtype="text" placeholder="Enter value"
                                defaultvalue="bind:Variables.stvEditIntegration.dataSet.integrationDescription"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>